name: Deploy CAC To Test Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deployToTest:
    permissions:
      id-token: write
      contents: read
    uses: ssc-spc-ccoe-cei/aws-guardrails-cac-solution/.github/workflows/deploy.yml@main
    with:
      environment: test
      aws-region: ca-central-1
      deploy-version: 1.0.0
    secrets:
      AWS_ROLE_ARN: ${{ secrets.TEST_AWS_ROLE_ARN }}
      CONFIG_FILE_CONTENT: ${{ secrets.TEST_CONFIG_FILE_CONTENT }}


